P {
color: #ffffff; 
}
H1{
color: #ffffff; 	
}
H2{
color: #ffffff; 	
}
H3{
color: #cfcfcf; 	
}
body{
	background-color:#636363;
}
A {
	color: #c7c7c7;
	background:#4f4f4f;
}
A:visited {
    color: #c7c7c7; 
   }
A:active {
    color: white; 
   }
HR{
	color:#dbdbdb
}
LI{
	color: #ffffff;
}
.center{
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.left{
    margin-left: left;
    margin-right: left;
	text-align: left;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	z-index: -100;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
	opacity: 0.65;
}
.input{
	color: #ffffff; 
}
form{
	color: #ffffff; 
}
table{
border: 1px solid white;
border-collapse: collapse;
color: white;
margin: auto;
}
th{
border: 1px solid white;
text-align: center;
}
td{
border: 1px solid white;
text-align: center;
}
tr:nth-child(even) {
background: #54aba6;
} 
tr:nth-child(odd) {
background: #4a4a4a;
} 