   .line { 
    border-left: 7px solid #808080;
    margin-left: 40px;
    padding-left: 80px;
	margin-right: 110px;	
	padding-top: 40px;
	margin-top: 30px;
   }
   .page{
  direction: ltr;
  width: 816px;
  height: auto;
  margin: 1px auto -8px auto;
  position: relative;
  overflow: visible;
  border: 9px solid transparent;
  background-clip: content-box;
  border-image: url(images/shadow.png) 9 9 repeat;
  background-color: #393b47;
   }
   .oglavlenie{
	background-color: #191b26;
	border: 1px solid black;
	padding: 25px;
	padding-left: 15px;
   }
   .code-box{
	background-color: #d4d4d4;
	border: 1px solid black;
	padding: 10px;
	padding-left: 7px;
	font-size: 13px;
   }
   .font-oglav{
	font-size: 21px;
	font-family: Times, Times New Roman, serif;	  
	text-indent: 2em;
	font-background: grey;
   }
   .font-bold{
	font-weight:bold;
   }
   .img_left {
    float:left;
    margin: 15px 15px 15px 0;
   }
   .img_center {
	display: block;
	margin: 0 auto;
   }
   p{
	font-size: 13px;
	word-spacing: 2px;
	text-indent: 2em;
	color: #c9c9c9;
   }
   .font-higlited{
	border: 1px solid black;
	background: #353561;
   }
   a{
	color: #c9c9c9;
	text-decoration: none;
   }
   .text-comment{
	color: #008021;
   }
   .text-tag{
	color: #0053e8;
   }
   .text-arg{
	color: red;
   }
   .text-name{
	color: #633b91;
   }
   table{
	border: 3px solid #bfbfbf;
	border-collapse: collapse;
   }
   tr{
	 border: 3px solid #bfbfbf;  
   }
   td{
	   border: 3px solid #bfbfbf;
   }
   th{
	   border: 3px solid #bfbfbf;
   }
   ul{
	   color: #c9c9c9;
   }
   li{
	   color: #c9c9c9;
   }
   figcaption{
	   color: #c9c9c9;
   }
   body{
	   background-color:#808080;
   }